        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div>
                <a class="navbar-brand" href="#">
                <img src="/images/logo.png" alt="" width="30" height="24">
              <span class="navbar-brand mb-0 h1">Tikcetac</span>
                </div>
              <span class="text-end" style="color:#eb3b5a; padding: 20px;" >Connection</span>
              <span class="text-end">My last trips</span>
            </div>
            </div>
          </nav>