<!DOCTYPE html>
<html>

<head>
    <title>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <!--header-->
    <div class="container-fluid">
        <%- include('navbar') %>

        <div class='container'>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h3 class="text-white mb-3">Tickets available on 02/08 :</h3>

                </div>
            </div>

            <!--form-->
            <div class="results-row col-lg-8 offset-lg-2">
                <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                    
                        <p class='my-auto'>Paris/Lille</p>
                    
                    
                    
                  
                        <p class='my-auto'>Train départ à</p>
                   

                    <div class='boutons my-auto'>
                       <span class=''> price</span>
                       <a href="/order"><button type="submit" class="btn btn-danger">OK
                    </button></a>
                    </div>
                  
                   

                </li>
                <li class="list-group-item d-flex justify-content-between align-items-center mt-2">
                    
                    <p class='my-auto'>Paris/Lille</p>
                
                
                
              
                    <p class='my-auto'>Train départ à</p>
               

                <div class='boutons my-auto'>
                   <span class=''> price</span>
                   <button type="submit" class="btn btn-danger">OK
                </button>
                </div>
              
               

            </li>

            </div>


        </div>
    </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
</body>

</html>